<?xml version="1.0"?>
<launch>
<arg name="rviz" default="false" />
<arg    name="directory"
            default="$(find kitti_player)/dataset/RAOD/"
            />

<node   name="analyze_while_expand_paper" pkg="road_detection" type="analyze_while_expand_paper"
            required="true"
            args= "-d $(arg directory) -t 0 " 
            output="screen">

<!--RANSAC 地面拟合选取的区域  这个用来确定用来扩展的点云-->
    <param name="ransac_DistanceThreshold1" value="0.04"/> 
    <param name="box_x_min1" value="2.45"/>
    <param name="box_x_max1" value="10.0"/>
    <param name="box_y_min1" value="-1.5"/>
    <param name="box_y_max1" value="1.5"/>
    <param name="box_z_min1" value="-2.7"/>
    <param name="box_z_max1" value="0.4"/>


	<param name="ransac_DistanceThreshold_local" value="0.035"/> <!--局部平面拟合扩展时采用的参数-->
	<param name="local_ransac_min_num" value="4"/>
	<param name="local_ransac_max_num" value="20"/>

	<param name="terminate_expand_num" value="2"/><!--扩展终止点数，int-->
	<param name="erode_size" value="40"/><!--道路检测图像后处理-->
	<param name="process_for_view" value="true"/>
</node>

 <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" />
  </group>
</launch>

<!--
help           h    help message
directory      d    *required* - path to the kitti road dataset Directory
train_test     t    on train data or test data 1 表示在训练数据上执行，否则在测试数据上执行
-->
